body {
    //padding-top: 70px;
    font-family: sans-serif;
}

.posts {
    text-align: left;
    margin-bottom: 1.3em;
}

.flaticon-collapse3 {
    cursor: pointer;
    font-weight: bold;
    color: green;
}

.flaticon-expand22 {
    cursor: pointer;
    font-weight: bold;
    color: red;
}

.points {
    font-weight: bold;
}

.title {
    font-style: italic;
}

.submitPost {
    width:  80%;
    padding: 1em;

}